@import "resetter.css";

#root {
    display: flex;
    justify-content: center;
}

.app {
    width: 800px;
    margin: 15px;
}

.post {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__content:after {
    content: "";
    background: #333333;
    width: 97.5%;
    height: 1px;
    /* размещаем линию снизу и справа*/
    bottom: -5px;
    /* включаем абсолютное позиционирование относительно блока с relative */
    position: absolute;
}

.post__content {
    flex: 1;
    word-wrap: break-word;
    max-width: 60%;
}

.post__title {
    max-width: 40%;
    margin-bottom: 10px;
}


.btn {
    width: 130px;
    height: 60px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.delete-btn:hover {
    background-color: #dc9292;
}

.add-btn:hover {
    background-color: #92cbdc;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form__btn {
    position: absolute;
    top: 0;
    right: 0;
}

.form__title {
    max-width: 40%;
    margin-top: 17px;
    margin-bottom: 30px;
    height: 30px;
}

.sort-field,
.text-field {
    font-size: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

.search {
    display: flex;
    gap: 30px;
}

.search-field {
    width: 100%;
}

.form__descr {
    resize: none;
}

.text-field:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}